# Node.js / Astro
node_modules/
dist/
.build/
.cache/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.DS_Store
.astro/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.pyre/
.pytype/
.idea/
*.sqlite3
*.db
*.log