---
// Badge Section component showing project badges
---

<section class="badge-section py-4">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <img src="https://img.shields.io/pypi/v/spade.svg" alt="PyPI Version">
                <img src="https://img.shields.io/pypi/pyversions/spade.svg" alt="Python Versions">
                <img src="https://img.shields.io/pypi/l/spade" alt="MIT License">
                <img src="https://github.com/javipalanca/spade/actions/workflows/python-package.yml/badge.svg" alt="CI Status">
                <img src="https://coveralls.io/repos/github/javipalanca/spade/badge.svg?branch=master" alt="Coverage">
                <img src="https://readthedocs.org/projects/spade/badge/?version=latest" alt="Documentation">
                <img src="https://pepy.tech/badge/spade" alt="Downloads">
            </div>
        </div>
    </div>
</section>
