---
// Footer component
---

<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="d-flex align-items-center mb-3">
                    <img src="/img/spade-agent-network-fixed.svg" alt="SPADE Logo" height="40" class="me-2">
                    <span class="h4 mb-0 text-white">SPADE</span>
                </div>
                <p class="text-muted">Smart Python Agent Development Environment - Building the future of multi-agent systems.</p>
                <div class="d-flex gap-3">
                    <a href="https://github.com/javipalanca/spade" class="text-white"><i class="bi bi-github fs-4"></i></a>
                    <a href="https://spade-mas.readthedocs.io" class="text-white"><i class="bi bi-book fs-4"></i></a>
                    <a href="https://pypi.org/project/spade/" class="text-white"><i class="bi bi-box fs-4"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold">Documentation</h6>
                <ul class="list-unstyled">
                    <li><a href="https://spade-mas.readthedocs.io/en/latest/installation.html" class="text-muted text-decoration-none">Installation</a></li>
                    <li><a href="https://spade-mas.readthedocs.io/en/latest/usage.html" class="text-muted text-decoration-none">User Guide</a></li>
                    <li><a href="https://spade-mas.readthedocs.io/en/latest/api.html" class="text-muted text-decoration-none">API Reference</a></li>
                    <li><a href="https://spade-mas.readthedocs.io/en/latest/examples.html" class="text-muted text-decoration-none">Examples</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold">Plugins</h6>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/javipalanca/spade_bdi" class="text-muted text-decoration-none">SPADE BDI</a></li>
                    <li><a href="https://github.com/javipalanca/spade_pubsub" class="text-muted text-decoration-none">SPADE PubSub</a></li>
                    <li><a href="https://github.com/javipalanca/spade_artifact" class="text-muted text-decoration-none">SPADE Artifact</a></li>
                    <li><a href="https://github.com/javipalanca/spade_norms" class="text-muted text-decoration-none">SPADE Norms</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold">Community</h6>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/javipalanca/spade" class="text-muted text-decoration-none">GitHub</a></li>
                    <li><a href="https://github.com/javipalanca/spade/issues" class="text-muted text-decoration-none">Issue Tracker</a></li>
                    <li><a href="https://github.com/javipalanca/spade/discussions" class="text-muted text-decoration-none">Discussions</a></li>
                    <li><a href="https://github.com/javipalanca/spade/wiki" class="text-muted text-decoration-none">Wiki</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold">Legal</h6>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/javipalanca/spade/blob/master/LICENSE" class="text-muted text-decoration-none">MIT License</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0 text-muted">&copy; 2025 SPADE Team. Licensed under MIT License.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0 text-muted">Made with ❤️ for the multi-agent systems community</p>
            </div>
        </div>
    </div>
</footer>
