---
// Statistics Section component
---

<section class="stats-section py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="stat-item">
                    <div class="stat-number">150K+</div>
                    <div class="stat-label">Downloads</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-item">
                    <div class="stat-number">250+</div>
                    <div class="stat-label">Stars</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-item">
                    <div class="stat-number">100+</div>
                    <div class="stat-label">Forks</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-item">
                    <div class="stat-number">5+</div>
                    <div class="stat-label">Plugins</div>
                </div>
            </div>
        </div>
    </div>
</section>
